:root {
    blue-color: #428bca;
    yellow-color:#d59307;
}


 body {
        	background: url("background.jpg");
        	background-repeat:no-repeat;
			background-size:cover;
			background-position:center;
			background-attachment:fixed;
			-webkit-background-size: cover;
       		-moz-background-size: cover;
        	-ms-background-size: cover;
        	 -o-background-size: cover;
        	/*  overflow: scroll; */
        	 width:100%;
    		height:auto;
    		left:0px;
    		top:0px;
    		z-index:-1;
    		transition: height 1000000s ease;
			-webkit-transition: height 1000000s ease;
			-moz-transition: height 1000000s ease;
			-o-transition: height 1000000s ease;
			/* min-height: 100vh; */
}

.page {
		overflow: auto;
		height: 100%;	
	}



footer {
	  width:100%;
	  position:absolute;
      background-color: #555;
      color: white;
      padding: 15px;
      bottom: 0;
    }
    
 
.row{
  margin-left:15px;
  margin-right:15px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.model-header{
	color: black;
}

.md-autocomplete-suggestions-container li:hover{
	color:white;
	background:#428bca !important;
}

.md-autocomplete-suggestions-container li#selected_option{
	color:white;
	background:#428bca !important;
}

::ng-deep .mat-autocomplete-panel{
  border-radius: 10px;    
}

.md-autocomplete-suggestions-container li{
	color:#428bca;
	background-color:transparent;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
}
.navbar-inverse{
    background-color: #428bca;
    border-color: white;
}
.navbar-inverse .navbar-nav > li > a{
    border-color: white;
    color: white;
    font-weight: bold;
} 
.navbar-inverse .navbar-nav > li > a:hover{
    background-color:#d59307;
    border-color: white;
    color: white;
    font-weight: bold;
}  

.navbar-inverse .navbar-nav > .active > a{
	background-color:#d59307 !important;
    border-color: white !important;
    color: white !important;
    font-weight: bold;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > .open > a{
	background-color:#d59307 !important;
    border-color: white !important;
    color: white !important;
    font-weight: bold;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu{
	background-color: #428bca;
	border: 1px solid;
	border-color: white;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a{
	color: white !important;
    font-weight: bold;
    background-color: #428bca !important;
}

.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover{
	border-color: white;
	color: white !important;
    font-weight: bold;
    background-color:#d59307 !important;
    border: 1px solid;
  }

.btn-primary:hover{
	background-color: #428bca;
	border-color:white;
    border-radius:1px;
    color: #ffffff;
}

.btn-primary[disabled]{
	background-color: #428bca;
	border-color:white;
    border-radius:1px;
    color: #ffffff;
}

.form-control[readonly]{
	background-color: #428bca63;
	color: white;
}
.btn {
    text-transform: uppercase;
    border-color:white;
    border-radius:1px;
}
.btn-primary {
    background-color: #d59307;
    border-color:white;
    border-radius:1px;
    color: #ffffff;
}
 
h2,h4,h5{
	color: white;
}

.loader-spinner{
	position: absolute;
	z-index: 99;
	left:50%;
	top:250px;
    transition-delay: 0.5s;
    -webkit-transition-delay:0.5s;
}

.loader-spinner-img{
	position: absolute;
	width: 70px;
}

.alert{
	background-color: #d59307d4;
	border-radius: 1px;
	border-color: white;
	opacity: 70;
	color: white;
	position: absolute;
    top: 10%; 
    right:2%;
    width: 20%;
    border-radius: 5px;
    z-index: 999999;   
}

.table-wrapper-scroll-y {
display: block;
overflow-y: auto;
overflow-x:visible !important;
-ms-overflow-style: -ms-autohiding-scrollbar;
max-height: 450px;
max-width: 100%;
}


td,th{
	color: white;
}

td.selectList{
	min-width: 150px;
}

.tr-highlited{ 
  background-color: #d59307d4;
}

.td-highlited{ 
  background-color: #d59307d4;
}

.list-inline {
  display: flex;
  justify-content: center;
}

.disabled {
  color: #d59307;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none; 
}
a{
	color: white;
}
a:hover ,a:focus{
	color: white;
}
a.underline{
	text-decoration: underline;
}
.addNew{
	color: #428bca;
}
a.blueIcon{
	color: #428bca;
	cursor: pointer;
}
a.blueIcon:focus{
	color: #428bca !important;
}

/* Form input box */
md-input-container label.md-form-input {
	color: white !important;
}
md-input-container .md-input.md-form-input{
	color: white;
	border-color: white;
}
/*Border Color on valid input on foucs or not*/
md-input-container:not(.md-input-invalid).md-input-focused .md-input.md-form-input{
	border-color:  white !important
}
/*Border Color on not valid input on foucs*/
md-input-container.md-input-invalid .md-input.md-form-input{
	border-color:  #d59307 !important;
}
/*Error msg color*/
md-input-container.md-form-input.md-input-invalid .md-input-message-animation{
	color: #d59307
}
/*Error msg color*/
md-input-container.md-form-input .md-input-message-animation{
	color: #d59307
}
/*char counter color on invalid input*/
md-input-container.md-form-input.md-input-invalid .md-char-counter{
	color: #d59307 !important ;
}
/*char counter color on valid input*/
md-input-container.md-form-input .md-char-counter{
	color: white !important ;
}
/* * sign color*/
md-input-container.md-form-input label:not(.md-no-float):not(.md-container-ignore):after{
	color: #d59307 !important;
}

.md-button.md-primary.md-form-input{
	color: white !important;
}
label.md-form-input{
	color: white !important;
}

/* Form table input box */
md-input-container.md-table-input .md-errors-spacer{
	display: none;
}
md-input-container.md-table-input{
	margin: 0;
	padding: 0;
}
md-input-container.md-table-input .md-input{
	color: white;
	border-color: white !important;
} 


/* From Md-select */

md-select.md-form-input .md-select-value{
	color: white !important;
	border-bottom-color: white !important;
}
md-select.md-form-input .md-select-icon{
	color: white;
}




/* PopUp input box */

md-input-container label.md-popup-input {
	color: #428bca !important;
}
md-input-container .md-input.md-popup-input{
	color: black;
	border-color: #428bca;
}
md-input-container .md-input[disabled].md-popup-input{
	color: black !important;
	border-bottom-color: gray !important;
	opacity: 1 !important;
}

/*Border Color on valid input on foucs or not*/
md-input-container:not(.md-input-invalid).md-input-focused .md-input.md-popup-input{
	border-color:  #428bca !important ;
}
/*Border Color on not valid input on foucs*/
md-input-container.md-input-invalid .md-input.md-popup-input{
	border-color:  red !important;
}
/*Error msg color*/
md-input-container.md-popup-input.md-input-invalid .md-input-message-animation{
	color: red;
}
/*Error msg color*/
md-input-container.md-popup-input .md-input-message-animation{
	color: red;
}
/*char counter color on invalid input*/
md-input-container.md-popup-input.md-input-invalid .md-char-counter{
	color: red !important ;
}
/*char counter color on valid input*/
md-input-container.md-popup-input .md-char-counter{
	color: #428bca !important ;
}
/* * sign color*/
md-input-container.md-popup-input label:not(.md-no-float):not(.md-container-ignore):after{
	color: red !important;
}
 
 
/* For Md-AutoComplete */
md-input-container label:not(.md-no-float):not(.md-container-ignore){
	color: white;
}
md-input-container label:not(.md-no-float):not(.md-container-ignore):after{
	color: #d59307 !important;
}

md-input-container input[type="search"]{
	color: white;
	border-color: white;
}
md-input-container .md-input[disabled]{
	color: white !important;
	border-bottom-color: white !important;
	opacity: 0.65;
}
md-input-container.md-input-focused input[type="search"]{
	color: white;
	border-color: #d59307;
}
md-input-container:not(.md-input-has-value) input[type="search"]:not(:focus){
	border-color: white;
}
md-input-container .md-input[type="search"].ng-invalid.ng-dirty{
	border-color:  #d59307;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input[type="search"]{
	border-color: white;
}
/*Error msg color*/
md-input-container.md-input-invalid .md-input-message-animation{
	color: #d59307
}
/*Error msg color*/
md-input-container .md-input-message-animation{
	color: #d59307
}

/* For Md-AutoComplete filter Search */

md-autocomplete.filter-search md-autocomplete-wrap input{
	color: black !important;
	border-color: #428bca !important;
}
md-autocomplete.filter-search md-autocomplete-wrap input:focus{
	color: black !important;
	border-color: #428bca !important;
}

.md-autocomplete-suggestions-container{  
   z-index:100000 !important; /* any number of choice > 1050*/
}

.md-subheader{
    color: black;
    background-color: rgba(0,0,0,0.12);
}
.btn.filter-search {
    text-transform: uppercase;
    border-color: rgba(255, 255, 255, 0);
    border-radius:0px;
}

/* Filters */

md-toolbar{
	background-color: #428bca !important ;
}
md-sidenav{
	background-color: white !important ;
}

/* check Box*/
md-checkbox {
	margin-bottom: 0 !important;
}
md-checkbox .md-icon {
    border-color: white !important;    
}
md-checkbox.md-checked .md-icon {
    background-color: #d59307;
}

/* noificationCount */

.noificationCount{
	background-color: red;
	float: right;
}

.md-button.md-primary.md-fab{
	 background-color: #d59307 !important;
}

