
<!-- Modal -->
<div id="addRemark" class="modal fade bs-example-modal-lg" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 25px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title model-header">Add Remark</h4>
       </div>
	  
	  <div class="row">	
		<md-input-container class = "md-popup-input">
  		<label class = "md-popup-input">Remark</label>
  		<input type="text" ng-model="transction.remark" required md-maxlength="100" class = "md-popup-input">
		</md-input-container>
	</div>	
		
		 <!--  Second Row -->
		<!-- <div class="row">
			<div class="col-md-12">
			<textarea ng-model="remark"></textarea>
			</div>
		</div>  -->

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="revertTrns(transction)">Submit</button>
	   	</div>
      </div>
    </div>

  </div>
</div>

