<div class= "container-fluid" ng-controller="auditController as acontroller"
		class="container-fluid">

		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-1">
						<label><h4>From</h4></label>
					</div>

					<div class="col-md-4">
						<input id="date" type="date" class="form-control" id=date1
						ng-model="search.date1" tabindex="1">
					</div>

					<div class="col-md-1">
						<label><h4>To</h4></label>
					</div>

					<div class="col-md-4">
						<input type="date" class="form-control" id=date2
						ng-model="search.date2" tabindex="2">
					</div>
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-primary" value="Search"
						ng-click="getAdtTransctions()" tabindex="3">Search</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
		<div class="col-md-12">
			<div class="table-wrapper-scroll-y">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Date</th>
							<th scope="col">Product</th>
							<th scope="col">Quantity</th>
							<th scope="col">Amount</th>
							<th scope="col">Added By</th>
							<th scope="col">Last Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="t in transctions">
							<th scope="row">{{$index+1}}</th>
							<td>{{t[0]}}</td>
							<td>{{t[1]}}</td>
							<td ng-show = "!checked" ><input next-on-enter type="number" class="form-control col-xs-2"
								id=quantity ng-model="t[2]"
								ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
								ng-init=t[2] ng-readonly="true"></td>
							<td ng-show = "checked" ><input next-on-enter type="number" class="form-control col-xs-2"
								id=quantity ng-model="t[2]"
								ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
								ng-init=t[2] ></td>	
							<td><input next-on-enter type="number" class="form-control col-xs-2"
								id=amount ng-model="t[3]"
								ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
								ng-init=t[3]></td>
							<td>{{t[4]}}</td>
							<td>{{t[5]}}</td>
							<td> 
								<a href="#"  ng-click = "deleteTransction(t)"> <span class="glyphicon glyphicon-trash"></span></a>
								<a href="#"   ng-model="checked" ng-init= "checked=false" ng-click = "checked = setEdit(checked)"> <span class="glyphicon glyphicon-edit"></span></a>
								<a href="#" ng-click = "audit(t)"> <span class="glyphicon glyphicon-ok-sign"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>

		<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)" dismiss-on-timeout=2000 class="alert fade">{{alert.msg}}</div>
</div>
