<div class= "container-fluid" ng-controller="caseController as vm">
<div ng-include="'/addNewPerson.html'"></div>
<div ng-include="'/addCrown.html'"></div>
<div ng-include="'/showCrown.html'"></div>
		<div class="row">
		<div class="col-md-8">
		<form name="form" ng-submit="saveCase(Case)" role="form">
			<div class="row">
			
			<div class="col-md-2">
			<md-input-container class="md-form-input">
  			<label class="md-form-input">OPD No.</label>
  			<input type="text" ng-disabled="isCaseEdit" ng-model="Case.opdNo" required md-maxlength="10" class="md-form-input text-uppercase" id="opdNo" 
  			name="opdNo" pattern="^[A-Za-z0-9\-]*$" ng-pattern-restrict tabindex="1" ng-blur = "checkOpdNoExist(Case.opdNo)">
  			 <div ng-messages="form.opdNo.$error" ng-show="form.opdNo.$dirty">
      			<div ng-message="required">OPD No. is required</div>
      			<div ng-message="md-maxlength">That's too long!</div>
    		 </div>
			</md-input-container>
			</div>
			
			<div class="col-md-2">
			<md-input-container>
        	<label class="md-form-input">Booking Date</label>
       	    <input mdc-datetime-picker date="true" time="false" type="text" id="bookingDate"
               click-outside-to-close="true"
               ng-disabled="isCaseEdit"
               auto-ok="true"
               format="YYYY-MM-DD"
               ng-change="onBookingDateChange(Case.bookingDate)"
               ng-model="Case.bookingDate" class="md-form-input" tabindex="-1" 
               required>
    		</md-input-container>
			</div>
			
			<div class="col-md-3">
			<md-input-container class="md-form-input">
  			<label class="md-form-input">Patient Name</label>
  			<input type="text" ng-disabled="isCaseEdit || isOpdFound " ng-model="Case.patient" required md-maxlength="40" class="md-form-input" id="patient" name="patient" pattern="^[A-Za-z\- ]*$" ng-pattern-restrict tabindex="1">
  			 <div ng-messages="form.patient.$error" ng-show="form.patient.$dirty">
      			<div ng-message="required">Patient is required</div>
      			<div ng-message="md-maxlength">That's too long!</div>
    		 </div>
			</md-input-container>
			</div>
			
			<div class="col-md-2" ng-show="isCaseEdit">
			<md-input-container>
          		<label>Status</label>
          			<md-select class="md-form-input" ng-model="Case.status">
          						<md-option value = "BOOKED">Booked</md-option>
          						<md-option value = "DELIVERD">Delivered</md-option>
            					<md-option value = "INPROCESS">In Process</md-option>
            					<md-option value = "INSERTION_DONE">Insertion Done</md-option>
            					<md-option ng-show="hasPermission('ADMIN_CASE') && isCaseEdit" value = "CANCELED">Canceled</md-option>
          			</md-select>
        	</md-input-container>
			</div>
			
			<div class="col-md-3">
			<md-input-container>
          		<label>Sub Status</label>
          			<md-select class="md-form-input" ng-model="Case.subStatus" ng-init = "Case.subStatus = 'NONE'" style="width:100px;">
          						<md-option value = "NONE">None</md-option>
            					<md-option value = "REPEAT">Repeat</md-option>
            					<md-option value = "TRIAL">Trial</md-option>	
          			</md-select>
        	</md-input-container>
			</div>
			
			</div>
		
			<div class="row">
			
			<div class="col-md-3">
			<md-input-container>
        	<label class="md-form-input">Appointment Date</label>
       	    <input mdc-datetime-picker date="true" time="true" type="text" id="appoinmentDate"
               click-outside-to-close="true"
               auto-ok="true"
               minute-steps="10"
               format="YYYY-MM-DD hh:mm a"
               ng-change="onAppointmentDateChange(Case.appointmentDate)"
               ng-model="Case.appointmentDate" class="md-form-input" tabindex="-1" required>
    		</md-input-container>
			</div>
			
			
			<div class="col-md-3">
			<md-input-container>
        	<label class="md-form-input">Delivery Date</label>
       	    <input mdc-datetime-picker date="true" time="false" type="text" id="deliveryDate"
               click-outside-to-close="true"
               auto-ok="true"
               format="YYYY-MM-DD"
               ng-model="Case.deliveredDate" class="md-form-input" tabindex="-1" required>
    		</md-input-container>
			</div>
			
			
			<div class="col-md-3">
			<md-autocomplete
					tabindex="3"
					name = "doctor"
					md-input-name="doctor"
          			ng-disabled="disabled"
          			md-selected-item="Case.doctor"
          			md-no-cache="true"
          			md-search-text="doctorName"
          			md-selected-item-change=""
          			md-items="person in getPerson(doctorName,'DOCTOR')"
          			md-item-text="person.fullname"
          			md-min-length="1"
          			md-floating-label="Doctor"
          			md-require-match = "true" required>
        		<md-item-template>
          			<span d-highlight-text="doctorName" md-highlight-flags="^i">{{person.fullname}}</span>
        		</md-item-template>
        	<!-- <md-not-found>
          		<a class="addNew" ng-click="addNewPerson(doctorName,'DOCTOR')">Create a new one!</a>
        	</md-not-found> -->
        	<div ng-messages="form.doctor.$error" ng-show="form.doctor.$dirty && form.doctor.$error.required">
      		<div class="md-input-message-animation" ng-message="required">Doctor is required</div>
      		</div>
      		</md-autocomplete>
			</div>
			
			<div class="col-md-3">
			<md-autocomplete
					tabindex="4"
					name = "vender"
					md-input-name="vender"
          			ng-disabled="isCaseEdit || Case.crown.details.length > 0"
          			md-selected-item="Case.vender"
          			md-no-cache="true"
          			md-search-text="venderName"
          			md-selected-item-change="getCrownMapping(Case.vender.id)"
          			md-items="person in getPerson(venderName,'VENDOR')"
          			md-item-text="person.fullname"
          			md-min-length="1"
          			md-floating-label="Vendor"
          			md-require-match = "true" required>
        		<md-item-template>
          			<span d-highlight-text="venderName" md-highlight-flags="^i">{{person.fullname}}</span>
        		</md-item-template>
        	<!-- <md-not-found>
          		<a class="addNew" ng-click="addNewPerson(venderName,'VENDER')">Create a new one!</a>
        	</md-not-found> -->
        	<div ng-messages="form.vender.$error" ng-show="form.vender.$dirty && form.vender.$error.required">
      		<div class="md-input-message-animation" ng-message="required">Vendor is required</div>
      		</div>
      		</md-autocomplete>
			</div>
			
			</div>
			<div class="row" ng-show="isCaseEdit">
			<div class="col-md-3">
				<md-input-container class="md-form-input">
  					<label>Remark</label>
  					<input type="text" class="md-form-input" ng-model="Case.remark"  ng-init="Case.remark = '' " md-maxlength="100">
				</md-input-container>
			</div>
			</div>
			
			
			<div class="row">
			<div class="col-md-6">
			<div class="input-group">
				<div class="form-actions">
					<button type="submit" ng-show="!isCaseEdit" class="btn btn-primary" ng-disabled="form.$invalid" tabindex="6">Submit</button>
					<button type="button" ng-show="isCaseEdit" ng-click = "updateCase(Case)" class="btn btn-primary" ng-disabled="form.$invalid" tabindex="6">Update</button>
				</div>
			</div>
			</div>
			</div>
		</form>
		</div>
		<div class="col-md-4">
			<div class="table-wrapper-scroll-y">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Crown Type</th>
							<th scope="col">Numbers</th>
							<th scope="col">Shade</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in Case.crown.details">
							<th scope="row">{{$index+1}}</th>
							<td ng-show = "c.type == 'CERAMIC_FACING'">Ceramic Facing</td>
    						<td ng-show = "c.type == 'COMPLETE_DENTURE_LOWER'">Complete Denture - Lower</td>
    						<td ng-show = "c.type == 'COMPLETE_DENTURE_UPPER'">Complete Denture - Upper</td>
    						<td ng-show = "c.type == 'FULL_METAL_CERAMIC'">Full Metal Ceramic</td>
    						<td ng-show = "c.type == 'FULL_METAL_CERAMIC_PLUS'">Full Metal Ceramic Plus</td>
    						<td ng-show = "c.type == 'METAL_FREE'">Metal Free</td>
    						<td ng-show = "c.type == 'NIGHT_GUARD'">Night Guard</td>
    						<td ng-show = "c.type == 'REMOVEABLE_PARTIAL_DENTURE'">Removeable Partial Denture</td>
    						<td ng-show = "c.type == 'TEMPORARY'">Temporary</td>
							<td>{{c.crownNo}}</td>
							<td>{{c.shade}}</td>
							<td>
							<a href="#"   ng-click = "updateCrowns(c)"> <span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button type="button"  ng-click="addCrown()" class="btn btn-primary pull-right" tabindex="5" ng-disabled = "Case.vender == null || Case.vender == undefined || crownMapping.length === 0">Add Crown</button>
		</div>
		</div>
		
		<div class="row">
		<md-button md-no-ink class="md-primary md-form-input pull-right" ng-click="getCaseHistory()" ng-show="isCaseEdit && !isShowHistory"> <span class="glyphicon glyphicon-time"></span> Show Case History</md-button>
		<div></div>
		<div class="table-wrapper-scroll-y text-nowrap">
				<table class="table" ng-show="isShowHistory">
					<thead>
					<tr>
							<th scope="col">#</th>
							
							<th scope="col">OPD NO.</th>
							
							<th scope="col">Patient Name</th>
							
							<th scope="col">Vendor Name</th>
							
							<th  scope="col" >Doctor Name</th>
						
							<th scope="col">Appointment Date</th>
							
							<th scope="col">Booking Date</th>
							
							<th scope="col">Delivery Date</th>
							
							<th scope="col">Update By</th>
							
							<th scope="col">Update date</th>
							
							<th scope="col">Status</th>
							
							<th scope="col">Sub status</th>
							
							<th scope="col">Remark</th>
							
							<th scope="col">Crown Details</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="result in searchResults">
							<th scope="row">{{$index+1}}</th>
							
							<td> {{result.id}}</td>
												
							<td>{{result.patientName}}</td>
							
							<td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.vendorName != searchResults[$index+1].vendorName )"> <b>{{result.vendorName}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.vendorName === searchResults[$index+1].vendorName )">{{result.vendorName}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.vendorName}}</td>
							
							<td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.doctorName != searchResults[$index+1].doctorName )"> <b>{{result.doctorName}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.doctorName === searchResults[$index+1].doctorName )">{{result.doctorName}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.doctorName}}</td>
							
							<td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.appointmentDate != searchResults[$index+1].appointmentDate )"> <b>{{result.appointmentDate}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.appointmentDate === searchResults[$index+1].appointmentDate )">{{result.appointmentDate}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.appointmentDate}}</td>
					
							<td>{{result.bookingDate}}</td>
							
							<td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.deliverdDate != searchResults[$index+1].deliverdDate )"> <b>{{result.deliverdDate}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.deliverdDate === searchResults[$index+1].deliverdDate )">{{result.deliverdDate}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.deliverdDate}}</td>
							
							<td>{{result.updateBy}}</td>
							
							<td>{{result.updateDate}}</td>
							
							<td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.status != searchResults[$index+1].status )"> <b>{{result.status}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.status === searchResults[$index+1].status )">{{result.status}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.status}}</td>
							
							<td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.subStatus != searchResults[$index+1].subStatus )"> <b>{{result.subStatus}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.subStatus === searchResults[$index+1].subStatus )">{{result.subStatus}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.subStatus}}</td>
							
							<td>{{result.remark}}</td>
							<td><a href="#" class = "underline" ng-click = "ShowCrownDetails(result.crown)">Show Details</a></td>
							<!-- <td class = "td-highlited" ng-show = "($index != (searchResults.length) -1) && (result.crownDetails != searchResults[$index+1].crownDetails)"> <b>{{result.crownDetails}}</b></td>
							<td ng-show = "($index != (searchResults.length) -1) && (result.crownDetails === searchResults[$index+1].crownDetails)">{{result.crownDetails}}</td>
							<td ng-show = "($index === (searchResults.length) -1)">{{result.crownDetails}}</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)" dismiss-on-timeout=2000 class="alert fade">{{alert.msg}}</div>
</div>




