<div ng-controller = "headerController as ctrl">
<div ng-include="'resetPassword.html'"></div>
  <nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav mr-auto">
      	<li ng-class="{active:ctrl.isActive('/product')}"  ng-show = "ctrl.hasPermission('USER_INV')"><a href="#"  data-toggle="collapse" data-target=".navbar-collapse" ng-click = "ctrl.showProduct()">Add/Dispatch Stock</a></li>
      	<li ng-class="{active:ctrl.isActive('/inventory')}" ng-show = "ctrl.hasPermission('USER_INV')"><a href="#"  data-toggle="collapse" data-target=".navbar-collapse" ng-click = "ctrl.showInventory()">Inventory</a></li>
      	<li ng-class="{active:ctrl.isActive('/audit')}"  ng-show = "ctrl.hasPermission('ADMIN_INV')"><a href="#"  data-toggle="collapse" data-target=".navbar-collapse" ng-click = "ctrl.auditDetails()" tabindex="-1">Audit</a></li>
      	<li ng-class="{active:ctrl.isActive('/transction')}"  ng-show = "ctrl.hasPermission('USER_INV')"><a href="#"  data-toggle="collapse" data-target=".navbar-collapse" ng-click = "ctrl.transctionDetails()" tabindex="-1">Transaction</a></li>
      	<li ng-class="{active:ctrl.isActive('/case')}"  ng-show = "ctrl.hasPermission('USER_CASE')"><a href="#"  data-toggle="collapse" data-target=".navbar-collapse" ng-click = "ctrl.bookCase()" tabindex="-1">BookCase</a></li>
      	<li class="dropdown" ng-class="{active:ctrl.isActive('/caseHistory') || ctrl.isActive('/lateCases') || ctrl.isActive('/todayCases')}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-show = "ctrl.hasPermission('USER_CASE')">View
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click = "ctrl.ViewCaseHistory()">Case History</a></li>
          <li><a href="#" ng-click = "ctrl.ViewLateCase()">Late Cases <span ng-show = "lateCaseCount>0" class="badge noificationCount">{{lateCaseCount}}</span></a></li>
          <li><a href="#" ng-click = "ctrl.ViewTodayCase()">Today's Appointment</a></li>
          <li><a href="#" ng-click = "ctrl.viewNotifyCase()">To Be Call</a></li>
          <li><a href="#" ng-click = "ctrl.viewPendingCase()">Pending Cases</a></li>
        </ul>
       </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
      	<li class="dropdown">
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#"  ng-show = "name"><span class="glyphicon glyphicon-user"></span> {{name}}
      	<span class="caret"></span>
      	</a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click = "ctrl.openResetPassModel()">Reset Password</a></li>
        </ul>
       </li>
      	<!-- <li class="nav-item" ng-show = "name"><a href="#"  data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-user"></span> {{name}}</a></li> -->
        <li  class="nav-item" ng-show = "name"><a href="#" data-toggle="collapse" data-target=".navbar-collapse" ng-click = "ctrl.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
      
     <form class="navbar-form navbar-right" ng-show = "ctrl.hasPermission('USER_CASE')">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Case" name="search" ng-model="searchTxt" dl-enter-key="ctrl.searchCase(searchTxt)">
      </div>
    </form>
    
    <form class="navbar-form navbar-right" ng-show = "ctrl.hasPermission('USER_INV')">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Product" name="search" ng-model="searchPrd" dl-enter-key="ctrl.searchProduct(searchPrd)">
      </div>
    </form>
    
    </div>
    </div>
    </nav>
    	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)" dismiss-on-timeout=2000 class="alert fade">{{alert.msg}}</div>
</div>
