<!-- Modal -->
<div id="saveUnitMapping" class="modal fade bs-example-modal-lg" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 25px">
    <form name="form"  role="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title model-header">Unit Mapping</h4>
       </div>
	  
	  <div class="row">
	   <div class="col-md-3">
	    <label class = "md-popup-input">Select Company</label>	
	    <md-autocomplete class = "filter-search"
					name = "vendor"
					md-input-name="vendor"
          			md-no-cache="true"
          			md-search-text="vendorName"
          			md-selected-item="company"
          			md-items="vendor in ctrl.getUser(vendorName,'COMPANY_CARGO')"
          			md-selected-item-change="ctrl.updatePrice(vendor.id,crownType)"
          			md-item-text="vendor.fullname"
          			md-min-length="1"
          			md-floating-label="vendor">
        		<md-item-template>
          			<span d-highlight-text="vendorName" md-highlight-flags="^i">{{vendor.fullname}}</span>
        		</md-item-template>
      		</md-autocomplete>
	   </div>     
	 </div>	
		
		 <!--  Second Row -->
		<div class="row">	
	       	<div class="col-md-6">
	       	<md-input-container class = "md-popup-input">
  			<select class="form-control" ng-model="unitType" required id="unitType" name="unitType" ng-change = "ctrl.updateUnitPrice(company.id,unitType)" ng-init = "unitType = 'KILOGRAM'">
    			<option value = "KILOGRAM">KG</option>
    			<option value = "PIECES">Parcel</option>
  			</select>
  		<div ng-messages="form.unitType.$error" ng-show="form.unitType.$dirty && form.unitType.$error.required">
      			<div ng-message="required">Unit Type is required</div>
    	</div>	
  		</md-input-container>	
	   	</div>  
	    <div class="col-md-3">
	   		<md-input-container class = "md-popup-input">
  				<label class = "md-popup-input">Current Price</label>
  				<input type="number" ng-model="currPrice" class = "md-popup-input" id="currPrice" name="currPrice" ng-readonly="true">
			</md-input-container>
	   	</div>    		
	   		
	   <div class="col-md-3">
	   		<md-input-container class = "md-popup-input">
  				<label class = "md-popup-input">New Price</label>
  				<input type="number" ng-model="price" required class = "md-popup-input" id="price" name="price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"  step="0.01" ng-pattern-restrict>
  				<div ng-messages="form.price.$error" ng-show="form.price.$dirty && form.price.$error.required">
      			<div ng-message="required">Price is required</div>
    			</div>
			</md-input-container>
	   		</div>   
	   		
	   		         
		</div> 

      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  ng-disabled="company === null || unitType == null || price <= '0' || form.$invalid" ng-click="ctrl.saveUnitMapping(company.id,unitType,price)">Submit</button>
	   	</div>
	   	</form>
      </div>
    </div>

  </div>
</div>

