<div class= "container-fluid" ng-controller="transctionController as tcontroller">

<div ng-include="'addRemark.html'"></div>

		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-1">
						<label><h4>From</h4></label>
					</div>

					<div class="col-md-4">
						<input id="date" type="date" class="form-control" id=date1
						ng-model="search.date1" tabindex="1">
					</div>

					<div class="col-md-1">
						<label><h4>To</h4></label>
					</div>

					<div class="col-md-4">
						<input type="date" class="form-control" id=date2
						ng-model="search.date2" tabindex="2">
					</div>
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-primary" value="Search"
						ng-click="getTransctions()" tabindex="3">Search</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
		<div class="col-md-12">
			<div class="table-wrapper-scroll-y">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Date</th>
							<th scope="col">Product</th>
							<th scope="col">Quantity</th>
							<th scope="col">Type</th>
							<th ng-show= "hasPermission('ADMIN')" scope="col">Added By</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="t in transctions">
							<th scope="row">{{$index+1}}</th>
							<td>{{t.date | date : 'dd/MM/yyyy'}}</td>
							<td>{{t.productName}}</td>
							<td>{{t.quantityBack/1000}}</td>
							<td>{{t.type}}</td>
							<td ng-show= "hasPermission('ADMIN')">{{t.addBy}}</td>
							<td>
								<button type="button" class="btn btn-primary" ng-click="showRemarkPopUp(t)">Revert</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>

		<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)" dismiss-on-timeout=2000 class="alert fade">{{alert.msg}}</div>
</div>
