<div class= "container-fluid" ng-controller="transctionController as tcontroller">

<div ng-include="'addRemark.html'"></div>
		
		<md-sidenav md-component-id="left" class="md-sidenav-left">
   		<md-toolbar class="md-theme-indigo">
       		<h1 class="md-toolbar-tools">Filter Transactions</h1>
     	</md-toolbar>
     	<md-content>
      	<md-list class="md-dense" flex>
         
	    <md-subheader class="md-no-sticky">Search By Date
	    <md-button md-no-ink class="md-primary" ng-click="resetDateFilter()">Clear</md-button>
	    </md-subheader>
	       	 <md-list-item class="md-1-line" ng-click="null">
	       	 <label>From</label>
	       	 <md-input-container class = "md-popup-input">
       	    	<input mdc-datetime-picker date="true" time="false" type="text" id="fromDate" show-todays-date
               		   click-outside-to-close="true"
               		   auto-ok="true"
               		   min-date = "minDate"
                       format="DD-MM-YYYY"
                       max-date = "search.date2 ? search.date2 : today"
                       ng-model="search.date1" class="md-popup-input" tabindex="-1" ng-change= "onDateChange('startDate',search.date1)">
    		</md-input-container>
    		<label>To</label>
    		<md-input-container class = "md-popup-input">
       	    	<input mdc-datetime-picker date="true" time="false" type="text" id="toDate" show-todays-date
               		   click-outside-to-close="true"
               		   auto-ok="true"
                       format="DD-MM-YYYY"
                       min-date = "search.date1"
                       max-date = "today"
                       ng-disabled="search.date1 === null"
                       ng-model="search.date2" class="md-popup-input" tabindex="-1" ng-change= "onDateChange('endDate',search.date2)">
            </md-input-container>                 
		    </md-list-item>  
		    
		  <md-divider ></md-divider> 
		   
		   <div ng-show= "hasPermission('ADMIN_INV')">   
		   <md-subheader class="md-no-sticky">Search By User</md-subheader>
	        
	        <md-list-item class="md-1-line">
		       <md-autocomplete class = "filter-search"
					name = "user"
					md-input-name="user"
          			md-no-cache="true"
          			md-search-text="userName"
          			md-selected-item-change="onFilterChange('addBy',user.username)"
          			md-items="user in getUser(userName,'USER_INV')"
          			md-item-text="user.fullname"
          			md-min-length="1"
          			md-floating-label="User...">
        		<md-item-template>
          			<span d-highlight-text="userName" md-highlight-flags="^i">{{user.fullname}}</span>
        		</md-item-template>
      		</md-autocomplete>
	        </md-list-item>
	        </div>
	        
	      <md-divider ></md-divider> 
		      
		   <md-subheader class="md-no-sticky">Search By Product Name</md-subheader>
	        
	        <md-list-item class="md-1-line" ng-click="null">
		        <md-input-container class = "md-popup-input">
		  		<input type="text" ng-model="filter['productName']" class = "md-popup-input" id="productName" name="productName" dl-enter-key=applyFilter()>
				</md-input-container>
	        </md-list-item>
	           
	         <md-divider ></md-divider> 
	         <md-subheader class="md-no-sticky">Search By Type</md-subheader>
	         
	        <md-list-item class="md-1-line" ng-click="null"> 
	        <md-input-container class="md-popup-input md-table-input">
          						<md-select class="md-popup-input" ng-model="filter['type']" ng-change = "applyFilter()" ng-init=" filter['type'] = 'ALL' ">
          						<md-option value = "ALL">All</md-option>
            					<md-option value = "ADD">Add</md-option>
            					<md-option value = "DISPATCH">Dispatch</md-option>
            </md-select>
           </md-input-container> 
           </md-list-item>
              
        </md-list>
        
        </md-content>
  	</md-sidenav>
		
		<div class="row ">
		<div class="col-md-12">
			<div class="table-wrapper-scroll-y">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Date
							<a href="#"  ng-click = "openFilterNav()"> <span class="glyphicon glyphicon-filter"></span></a>
							</th>
							<th scope="col">Product
							<a href="#"  ng-click = "openFilterNav()"> <span class="glyphicon glyphicon-filter"></span></a>
							</th>
							<th scope="col">Quantity</th>
							<th scope="col">Type
							<a href="#"  ng-click = "openFilterNav()"> <span class="glyphicon glyphicon-filter"></span></a>
							</th>
							<th ng-show= "hasPermission('ADMIN_INV')" scope="col">Added By
							<a href="#"  ng-click = "openFilterNav()"> <span class="glyphicon glyphicon-filter"></span></a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="t in transctions">
							<th scope="row">{{$index+1}}</th>
							<td>{{t.date | date : 'dd/MM/yyyy'}}</td>
							<td>{{t.productName | uppercase}}</td>
							<td>{{t.quantityBack/1000}}</td>
							<td>{{t.type}}</td>
							<td ng-show= "hasPermission('ADMIN_INV')">{{t.addBy}}</td>
							<td>
								<button type="button" class="btn btn-primary" ng-click="showRemarkPopUp(t)">Revert</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
		
		<div class="row ">
		<div class="col-md-12">
		<md-fab-speed-dial md-direction="right">
			<md-fab-trigger class="align-with-text">
      			<md-button aria-label="menu" class="md-fab md-primary" ng-click="downloadReport()">
      			<md-tooltip>Download Report</md-tooltip>
       			<md-icon md-font-library="material-icons">cloud_download</md-icon>
      			</md-button>
      		</md-fab-trigger>	
  			</md-fab-speed-dial>
  		</div>	
		</div>

		<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)" dismiss-on-timeout=2000 class="alert fade">{{alert.msg}}</div>
</div>
